.home-central { @extend .center_background; background-position: center top;
  background-image: url( '../images/home-background.png' );
  @media #{ $breakpoints-up-lg } {
    height: 1000px;
  }
  @media #{ $breakpoints-down-lg } {
    background-size: cover;
    padding-bottom: 50px;
  }
  .cta-body { margin-top: 50px;
    @media #{ $breakpoints-down-sm } {
      margin-top: 100px;
    }

    .banner-wrapper, .cta-wrapper { background-color: #fff; @extend .tiny_shadow; }

    .banner-wrapper { padding: 15px;
      .banner-angle {  height: 50px; width: 50px; }
      .top-banner-angle { float: right;
        .vertical-line, .horizontal-line { float: right; }
      }
      .bottom-banner-angle { float: left;
        .vertical-line, .horizontal-line { float: left; }
      }
      .vertical-line, .horizontal-line { background-color: $menu_yellow; position: relative; }
      .vertical-line { height: 40px; width: 12.5px; }
      .horizontal-line { height: 12.5px; width: 52.5px;  }
      h1, p { text-transform: uppercase; font-weight: normal; text-align: center;
              position: absolute; margin: 10px; width: 100%; margin-left: -15px; margin-right: -15px;
      }
      p { font-size: 18px; font-weight: 700; margin-top: -10px}
      h1 { margin-top: 30px; line-height: 0.9; }
      .banner-breaker{ width: 100%; margin-top: 180px; }
      .special-br { display: none; }
      @media #{ $breakpoints-lg } {
        h1 { font-size: 40px }
        p { font-size: 20px; }
      }
      @media #{ $breakpoints-down-md } {
          h1, p { width: 95%; }
          p { margin-bottom: 30px; }
      }
      @media #{ $breakpoints-up-lg }{
        p { margin-top: -20px; }
        h1 { margin-top: 40px; }
      }
      @media #{ $breakpoints-sm } {
        p { margin-top: -15px; }
        h1 { margin-top: 50px; }
        .banner-breaker { margin-top: 120px; }
      }
      @media screen and ( max-width: 620px )  {
        .special-br { display: inline-block; }
        p { margin-top: -5px; }
        h1 { margin-top: 45px; }
        .banner-breaker { margin-top: 130px; }
      }
      @media screen and ( max-width: 400px )  {
        .special-br { display: none; }
        br.hidden-xs { display: inline-block!important; }
        .banner-breaker { margin-top: 150px; }
        h1 { margin-top: 25px; }
        p { margin-top: -25px; }
      }

    }

    .cta-wrapper { font-family: $basic_family; text-transform: uppercase; padding-bottom: 20px;
      a { @extend .anchor_reset; padding: 15px 0px; font-weight: bold;
        &:first-child { background-color: $background_black; color: #fff; margin-bottom: 5px;
          &:hover { background-color: $menu_hover_black; }
        }
        &:last-child { background-color: $menu_yellow; color: $text_black;
          &:hover { background-color: $menu_hover_yellow; color: #fff; }
        }
      }
    }
  }
   + section {
     @media #{ $breakpoints-up-lg } {
       margin-top: -500px;
     }
   }
}
