<section class="home-central container-fluid">
  <article class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 cta-body text-center">
    <div class="banner-wrapper col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
      <div class="top-banner-angle banner-angle">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
      </div>
      <h1>STAMPA <br class="hidden-xs" />LA tua <br class="special-br"/>tesi<br class="hidden-xs" /> on-line</h1>
      <div class="banner-breaker" style="clear: both;"></div>
      <p>consegna in 24 ore</p>
      <div style="clear: both"></div>
      <div class="bottom-banner-angle banner-angle">
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
    <div class="cta-wrapper col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <a href="#" class="col-md-12 col-sm-12 col-xs-12">Testo</a>
      <a href="#" class="col-md-12 col-sm-12 col-xs-12">Testo</a>
    </div>
  </article>
</section>
