
  <div data-entry="Titolo" class="col-md-12">
    <div class="col-md-6">
      <b>##Titolo##</b>
    </div>

    <div data-entry="Sottotitolo" class="col-md-4 text-center">
      <p>##Sottotitolo##</p>
    </div>
  </div>

    <!-- <script type="text/javascript" src="../../assets/frontend/js/test.js"></script> -->
