
.pagesIndex { text-transform: uppercase;
  div { padding: 5px; float: left; border-bottom: solid 1px #fff; font-size: 14px;
    a { float: right; margin-right: 15px; text-decoration: none; text-indent: 0px; cursor: pointer; }
    input { float: right; margin: 4px 10px 0px 0px; }
  }
  .language, .page { color: #fff; height: 0px; overflow: hidden; padding: 0px;
    &.open { overflow: visible; height: auto; padding: 5px; }
    a { color: #fff; }
  }
  .country { border-bottom: solid 1px #dedede; }
  .language { text-indent: 10px; background-color: rgba( 0, 0, 0, 0.25 ); }
  .page { text-indent: 20px; background-color: rgba( 0, 0, 0, 0.40 ); }

  .massiveTitle, .massiveInput, .create { text-align: center; color: #fff; font-weight: bold; }
  .massiveTitle { background-color: rgba( 0, 0, 0, 0.25 ); }
  .massiveInput, .create { background-color: rgba( 0, 0, 0, 0.40 ); cursor: pointer; border: solid 1px #fff;
    a { float: none; }
  }
}

#sortable2, #sortable1{ color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc;
                        border-radius: 4px; padding: 10px 20px 10px 20px; list-style: none;
                        li { background: rgba( 0, 0, 0, 0.025 ); margin-bottom: 3px; border-radius: 2px; cursor: pointer;
                            span { text-indent: 5px; text-transform: uppercase; font-style: italic; width: 200px!important; }
                        }
                      }

#sortable1 {
  li { padding: 13px 10px 8px 20px; text-transform: uppercase;
    label, textarea { display: none; }
    button { display: none; }
  }
  .note-editor.note-frame.panel.panel-default { display: none!important; }
}

#sortable2 { padding: 25px 5px 25px 5px;
              li { padding: 10px 10px 10px 15px; margin-bottom: 10px;
                   label { margin-top: 10px; }
                   .note-editable.panel-body { cursor: auto; }
                   .deleteComponentButton { float: right; margin: 5px 10px 5px 5px; font-size: 20px; }
                   .componentName { font-size: 25px; line-height: 2.5 }
              }
           }

.meta-tags-filler {
  ul { list-style: none; padding: 0px;
    li { width: 100%; margin-top: 0px; display: inline-block; }
  }
  .btn { float: right; height: 30px; width: 30px; text-align: center; text-indent: -1.5px; }
  [for="meta-tag"] { padding-top: 5px; }
  [for="meta-tag-content"], [name="meta-tag-content"] { width: 60%!important; margin: 0px; float: left; }
  [for="meta-tag-name"], [name="meta-tag-name"] { width: 15%!important; margin: 0px; margin-right: 15px; float: left; }

}




  .type { padding-left: 25px; }
