.grey{ background-color: #dedede; }
.selected{ box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.35) }

.login_container{ padding-top: 40px;
  .panel-heading{ height: 45px; background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); color: #dedede; }
}

.navbar.navbar-inverse{
  margin-bottom: 0px; border-radius: 0px;
}

.breadcrumb{
  li{ text-transform: capitalize; }
}

.materials{
  .thumbnail{
    .fa{ margin-top: 20px; }
  }
}

.bookBindings-menu{

  h2{ margin-bottom: 20px; }

  .panel.panel-default{ display: none;  }
  .panel-heading{ background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
                  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
                  color: #dedede;
                }
}

.coversTable{
  h2{ margin-bottom: 20px; }
  .col-md-2{ margin-top: 20px; }
  .col-md-2.pull-right{ margin-top: -33px;
    button{ margin-left: -20px; }
  }
}

table{
  thead{ background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
         text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      }
  tr{ text-align: center;
    &:hover{  }
    th{ text-align: center!important; color: #dedede; }
    td{ vertical-align: middle!important;
    }
  }

}
  /* paginating buttons */
  .paging-nav { text-align: right; padding-top: 2px; }
  .paging-nav a { margin: auto 1px; text-decoration: none; display: inline-block; padding: 1px 7px;
                  background: #91b9e6; color: white; border-radius: 3px;
                }
  .paging-nav .selected-page { background: #187ed5; font-weight: bold; }


#myModal, .panel.panel-default{
  .form-control{ margin-bottom: 15px;}
}

.panel.panel-default{
  hr{ border: 1.5px solid #dedede; }
}

div[data-edit="multipleUpdate"]{
  input[type="checkbox"]{ margin-left: 10px; }
}

// covers

label[ for="preview" ], label[ for="icon" ] { padding-left: 0px;  }

.coverInputs { margin-top: 15px; padding-left: 0px; padding-right: 0px; 
  input { margin-top: 9px; display: inline; }
}
