
<script src="../../assets/js/vendor/angular/angular.min.js"> </script>
<script src="../../assets/js/vendor/pdfJS/pdf.js"> </script>
<script src="../../assets/js/vendor/color-thief/color-thief.min.js"> </script>
<link rel="stylesheet" href="../../assets/css/ui-cropper.css"> </link>



<section ng-app="bookie"
         class="bookie-section bookie-configurator text-center col-lg-10 col-lg-offset-1" 
         ng-controller="baseController"
         ng-show="hideConfigurator"
         ng-cloak>
    
    <div class="steps_wrapper col-lg-12" >
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 configurator-step"
             ng-repeat="step in configuratorLangs.steps"
             ng-class="{'current': step == configuratorLangs.steps[0]}">
            <div class="step_label_top">{{step.label_top}}</div>
            <span class="number">{{step.number}}</span>
            <div class="step_label_bottom">{{step.label_bottom}}</div>
        </div>
    </div>

    
    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-center stepTitle col-lg-12">{{configuratorLangs['step_' + pageNumber + '_title']}}</h1>
    </div>
    <div class="line-wrapper text-center col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <hr>
        <hr>
    </div>
    <h3 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 stepDescription">
        {{configuratorLangs['step_' + pageNumber + '_description']}}
    </h3>
    <div ng-switch="pageNumber">
        
        <div ng-switch-when="3">
            <h5 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 stepExplanation"
                style="margin-bottom: 0px; margin-top: 5px;"
                ng-repeat="line in configuratorLangs['step_' + pageNumber + '_explanation']">
                    {{line}}
            </h5>
            <h5 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 stepExplanation"
                style="margin-bottom: 0px; margin-top: 5px;">
                B/n € {{configuratorLangs.grey_scale_cost}} &#215; {{greyPages}}
            </h5>
            <h5 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 stepExplanation"
                style="margin-bottom: 0px; margin-top: 5px;">
                Colori € {{configuratorLangs.color_cost}} &#215; {{coloredPages}}
            </h5>
        </div>
        
        <h5 ng-if="pageNumber !== 3"
            class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 stepExplanation">
            {{configuratorLangs['step_' + pageNumber + '_explanation']}} 
        </h5>
        
    </div>
    
    <div ng-switch="pageNumber" >
    <div ng-switch-when="1" first-step > </div>
    <div ng-switch-when="2" second-step > </div>
    <div ng-switch-when="3" third-step > </div>
    <div ng-switch-when="4" fourth-step > </div>
    <div ng-switch-when="5" fifth-step > </div>
  </div>
  
  <div class="extesionError" style="display: none;" >please choose a correct file extension</div>
  
  <div ng-switch="cdState">
      <div class="col-lg-10 col-lg-offset-1 stepsButtons" ng-switch-when="onlyText">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <button class="btn btn-default previousStep" ng-click="deleteCDcover()">
                  {{configuratorLangs.avoid}}
              </button>
          </div>
          <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-offset-4 col-sm-4 col-xs-12">
              <button class="btn btn-default nextStep"
                      ng-click="saveCDCoverTexts_inOrderConfig()">
                  {{configuratorLangs.save}}
              </button>
          </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1 stepsButtons" ng-switch-when="withImage">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <button class="btn btn-default previousStep" ng-click="deleteCDcover()">
                  {{configuratorLangs.avoid}}
              </button>
          </div>
          <div class="col-lg-3 col-lg-offset-1_5 col-md-3 col-sm-12 col-sm-offset-0 col-xs-12 inputButton fakeInput">
              <input onchange="angular.element(this).scope().uploadImage( { event: event, imageType: 'cdImage' } )"
                   type="file"
                   accept="image/png, image/jpg, image/jpeg"
                   class=""/>
                   <div>{{configuratorLangs.load_an_image}}</div>
          </div>
          <div class="col-lg-3 col-lg-offset-1_5 col-md-3 col-sm-12 col-sm-offset-0 col-xs-12">
              <button class="btn btn-default nextStep"
                      disabled ="disabled"
                      ng-click="saveCDCoverImages_inOrderConfig()">
                  {{configuratorLangs.save}}
              </button>
          </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1 stepsButtons" ng-switch-default>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <button class="btn btn-default previousStep"
                        disabled="disabled"
                        ng-click="goToPreviousPage( $event )">
                      {{configuratorLangs.back}}
                </button>
          </div>
          <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-offset-4 col-sm-4 col-xs-12">
                <button class="btn btn-default nextStep"
                        disabled="disabled"
                        ng-click="goToNextPage( $event )">
                  {{configuratorLangs.proceed}}
                </button>
          </div>
      </div>
      
  </div>

</section>


<script src="../../assets/js/vendor/angular/apps/book-bindings.js"> </script>
<script src="../../assets/js/vendor/angular/bookBindings.service.js"> </script>
<script src="../../assets/js/vendor/angular/directives/book-bindings.js"> </script>
<script src="../../assets/js/vendor/cropper/ui-cropper.js"> </script>

