
    .bookie-configurator { padding-bottom: 30px;
        .steps_wrapper { color: $text_black;

            .configurator-step:not(:last-child) .step_label_top:BEFORE { content: ''; border-left: 2px solid; border-top: 2px solid; z-index: 4;
                                                         position: absolute; margin-left: 83%; transform: rotate( 135deg ); display: inline-table;
                                                         height: 15px; margin-top: 43px; width: 14px;
                
                @media #{$breakpoints-down-sm} {
                    display: none;
                }
                // @media #{$breakpoints-up-xl} {
                //     height: 2.5%; margin-top: 24%; width: 8%;
                // }
                // @media screen and ( min-width: 1680px ) {
                //     height: 15%; margin-top: 51.5px;
                // }
                // @media screen and ( min-width: 1680px ) {
                //     height: 17%; margin-top: 50.5px;
                // }
                // @media screen and ( min-width: 2560px ) {
                //     height: 20%; margin-top: 50.5px;
                // }
            }
            .configurator-step:not(:last-child) .number:AFTER { content: ''; border-bottom: dotted 2px; width: 57%;
                                        position: absolute; margin-top: 15px; margin-left: 15%; z-index: 3;
                @media #{$breakpoints-down-md} {
                    margin-left: 20%; width: 52%;
                }
                @media #{$breakpoints-down-sm} {
                    display: none;
                }
            }
            .configurator-step:not(:last-child) .step_label_top:BEFORE,
            .configurator-step:not(:last-child) .number:AFTER { border-color: $menu_yellow; }
            
            .step_label_top, .setp_label_bottom { font-weight: lighter; font-size: 18px; text-transform: uppercase; }
            .step_label_top { padding-bottom: 10px; }
            .step_label_bottom { margin-top: 13px; text-transform: uppercase; font-weight: bold; font-size: 12px; }
            .number { font-size: 25px; border-radius: 55px; background-color: $menu_yellow;
                      padding: 10px 17px; font-weight: bold;
                
            }
            
            .configurator-step.passed { opacity: 0.4; }
            .configurator-step.current .number, .configurator-step.passed .number {
                          background-color: $background_black; color: #fff;
            }
            
            @media #{$breakpoints-down-sm} {
                    .configurator-step { padding: 0px 5px 5px 0px;  }
                    .number { font-size: 20px; padding: 10px 16px; }
                    .step_label_top, .step_label_bottom { font-size: 10px; }
                    
            }
            
        }
        
        .stepTitle { margin-top: 10px; font-size: 30px; margin-bottom: 0px; }
        .stepDescription { margin-top: 10px; }
        .stepExplanation  { margin-top: 5px; }
        
        .loadNow { margin-bottom: 0px;
            & + h6 { margin-bottom: 20px; margin-top: 5px; }
        }
        .custom-input-group + label { text-transform: uppercase; margin-top: 5px; margin-left: 5px; }
        .customInputWrapper input { margin-left: 25px!important; }
        @media #{$breakpoints-down-xs} {
                    .firstPageWrapper .custom-input-group { padding-left: 20px; }
        }
        
        @media screen and ( max-width: 767px ) and ( min-width: 590px ) {
            .customInputWrapper { padding: 0% 30% 0% 30%; }
        }
        @media screen and ( max-width: 589px ) and ( min-width: 432px ) {
            .customInputWrapper { padding: 0% 15% 0% 15%; }
        }
        
        .step_1_divider { border-top: dotted 2px $menu_yellow; margin-top: 0px; }
        .dividerTitle { margin-top: 0px; }
        .afterDiv { margin-top: 0px; margin-bottom: 0px; }
        
        
        
        .advise_banner { background-color: $grey; padding: 15px 25px 20px 25px;
            p { width: 100%; margin: 0px; }
        }
        
        .secondStepWrapper {
            
            .coverImageWrapper { margin-top: 25px;
                .cover-preview { width: auto; min-height: 600px; background-position: top center;
                    img { width: auto;
                    }
                }    
            }
            
            
            
            .secondSetp_panels {  padding-top: 35px;
                
                [class*="panel-"] { background: none; background-color: $grey; border:none; border-radius: 0px; margin: 0px; }
                .panel-group { background-color: transparent; }
                .panel-default { margin-bottom: 3px; }
                .panel-heading { text-transform: uppercase; padding: 30px 0px 30px 0px;
                    a { text-decoration: none; font-weight: bold;
                        &:hover, &:visited, &:focus { text-decoration: none;  }
                    }
                }
                
                .panel-body { padding: 10px 0px 0px 0px;
                    .content-title, .content-details { padding: 2px 45px 3px 45px; }
                    .content-title { padding-bottom: 5px;
                        hr { border: solid 1px $background_black; width: 100%; margin: 3px 0px 0px 0px; }
                    }
                    .content-details { display: inline-block; width: 100%; line-height: 1.8;
                        label, input, label:before { height: 17px; width: 17px; }
                        input { margin: 0px!important; position: absolute; }
                        label { margin-left: 0px; background-color: transparent; border: 1px; }
                        .checkbox-custom-label:before { background: $grey; line-height: 0.1; text-indent: -1px; }
                        .checkbox-custom:checked + .checkbox-custom-label:before { font-size: 22px; -webkit-text-stroke-width: 1px;
                                                                                   -webkit-text-stroke-color: $grey;
                            
                        }
                    }
                    .content-previews { min-height: 80px;
                        img { height: 30px; width: 30px; margin-bottom: 5px; cursor: pointer;
                              border: solid 2px transparent; border-radius: 25px;
                            &.active { border-color: #fff; }
                        }
                    }
                }
                
                
                .paneButtonsWrapper { color: #fff; padding: 0px; width: 100%;
                                      padding-top: 3px; background-color: #fff;
                                      margin-top: 15px;
                    div { padding: 0px; background-color: $grey;
                      button { width: 100%; margin-bottom: 0px; font-family: Arial, Helvetica; }
                        @media #{ $breakpoints-up-sm } {
                            &:first-child { padding-right: 1.5px; }
                            &:last-child { padding-left: 1.5px; }
                          
                        }
                        &:last-child { padding-left: 0px;
                            @media #{ $breakpoints-down-sm } { padding-right: 1.5px; }
                            @media #{ $breakpoints-down-xs } { padding-right: 0px; }
                        }
                    }
                }
                
                .temp_order { width: 100%; margin: 0px; margin-top: 15px;
                    p, h5 { width: 100%; margin: 0px; text-align: left; text-transform: capitalize; }
                    .order_temp_details_title, .order_temp_details_total { font-weight: bold; text-transform: uppercase; }
                    
                }
                
                
            }
        }
        
        .thirdStepWrapper {
            #canvasWrapper::-webkit-scrollbar { display: none;  }
            #canvasWrapper { margin-top: 30px; height: 350px; max-height: 350px; padding: 25px 0px 0px 0px; 
                             overflow: hidden; overflow-y: scroll; display: inline-block;
                .pageWrapper { margin: 0px 0px 20px 25px; float: left;
                    canvas { max-height: 200px; border: solid 2px $grey; }
                    .colorSwitcher { height: 20px; width: 20px; position: relative; z-index: 4;
                                     margin: 0px 0px 0px -20px; cursor: pointer;
                    }
                    [data-color="grey"] { background: -webkit-linear-gradient( left top, white, black ); 
                                          background: -o-linear-gradient( left top, white, black );
                                          background: -moz-linear-gradient( left top, white, black );
                                          background: linear-gradient( to bottom right white, black );
                    }
                    
                    [data-color="color"] { background: -webkit-linear-gradient( left top, red, orange, yellow, green, blue, indigo, violet ); 
                                           background: -o-linear-gradient( left top, red, orange, yellow, green, blue, indigo, violet );
                                           background: -moz-linear-gradient( left top, red, orange, yellow, green, blue, indigo, violet );
                                           background: linear-gradient( to bottom right, red, orange, yellow, green, blue, indigo, violet );
                    }
                    
                    .pageLabel { text-transform: capitalize; font-weight: bold; margin-top: 4px; margin-bottom: 24x; }
                    .pageTransform { text-transform: uppercase; font-size: 12px; }
                }
            }
        }
        
        .fourthStepWrapper {
            .textZone { background-color: #EDEBED; padding-top: 50px; padding-bottom: 50px;
            
                input, textarea { z-index : 5; position: absolute; border: none; outline: none; resize: none;
                                  overflow: hidden; font-family: 'Times';
                }
                
                .university { margin-left: -30%; margin-top: 12%; text-align: center;
                              width: 60%; height: 6%; font-weight: bold; font-size: 20px;
                              padding: 0px 15px 0px 15px;
                }
                .faculty { margin-left: -30%; margin-top: 18%; text-align: center;
                          width: 60%; height: 6%; font-weight: bold; font-size: 20px;
                          padding: 0px 10px 0px 10px;
                }
                .course { margin-left: -35%; margin-top: 28%; text-align: center;
                          width: 70%; height: 6%; font-weight: bold; font-size: 18px;
                          padding: 0px 10px 0px 10px;
                }
                .student { margin-left: -45%; margin-top: 40%; text-align: left;
                           width: 25%; height: 7em; line-height: 1.5;
                }
                .teacher { margin-left: 19.5%; margin-top: 40%; text-align: right;
                           width: 25%; height: 7em; line-height: 1.5;
                }
                .thesis { margin-left: -35%; margin-top: 68%; text-align: center;
                          width: 70%; height: 7%; font-weight: bold;  font-size: 21px;
                          padding: 0px 10px 0px 10px; text-transform: uppercase;
                }
                .year { margin-left: -25%; margin-top: 85%; text-align: center;
                        width: 50%; height: 6%;
                        padding: 0px 10px 0px 10px;
                }
                
                @media #{$breakpoints-down-md} {
                            .university, .faculty { font-size: 16px; }
                            .course { font-size: 14px; }
                            .student, .teacher { font-size: 10px; }
                            .thesis { font-size: 17px; }
                            .year { font-size: 15px; }
                }
                @media #{$breakpoints-down-sm} {
                            .university, .faculty { font-size: 14px; }
                            .course { font-size: 12px; }
                            .student, .teacher { font-size: 8px; }
                            .teacher { margin-left: 18%; }
                            .student { margin-left: -43%; }
                            .thesis { font-size: 15px; }
                            .year { font-size: 10px; }
                            .university, .faculty, .student, .teacher, .thesis, .year {
                                 padding: 0px 15px 0px 15px;
                            }
                            .course {  padding: 0px 20px 0px 20px; }
                }
                @media #{$breakpoints-down-xs} {
                            .university, .faculty { font-size: 10px; width: 45%; margin-left: -22.5%; }
                            .course { font-size: 8px; width: 60%; margin-left: -30%; }
                            .student, .teacher { font-size: 6px; }
                            .teacher { margin-left: 18%; }
                            .student { margin-left: -43%; }
                            .thesis { font-size: 10px; width: 60%; margin-left: -30%; }
                            .year { font-size: 6px; width: 40%; margin-left: -20%; }
                            .university, .faculty, .student, .teacher, .thesis, .year {
                                 padding: 0px 15px 0px 15px;
                            }
                            .course {  padding: 0px 20px 0px 20px; }
                }
                
                
                
                .textRound { position: relative; display: block; margin: 0 auto; }
                .textRound:after { display: block; padding-bottom: 100%; width: 100%; height: auto; margin: 0 auto;
                                   border-radius: 50%; background-color: #fff; border: solid 6px $grey;
                                   content: "";
                }
                .cdHole { display: block; padding-bottom: 20%; width: 22%; height: auto; margin: 40% 39%; border-radius: 50%;
                          background-color: #EDEBED; border: solid 6px $grey; content: ""; z-index: 7; position: absolute;
                }
            
                .inputDescriptions { padding: 0px; opacity: 0.75;
                    div { padding: 0px; 
                            &:first-child { margin-top: 50%; }
                            &:nth-child( 2 ) { margin-top: 68%; }
                            @at-root.inputDescriptions:first-child div:last-child {
                                margin-top: 77%;
                            }
                            @at-root.inputDescriptions:nth-child( 3 ) div:last-child {
                                margin-top: 133%;
                            }
                            @media #{$breakpoints-down-sm} {
                                font-size: 12px;
                            }
                    }
                    &:first-child div { text-align: left; }
                    &:nth-child(3) div { text-align: right; }
                }
                
            }
            
            .CdCropManage {
                img { display: none; }
                canvas { max-width: 100%; }
            }
            
        }
        
        
        
    }
    
    .fifthStepWrapper {
        
         .cta-button { @extend .anchor_reset; border: solid 4px $text_black; text-transform: uppercase; color: $text_black;
                padding: 12px; font-weight: bold; font-size: 16px;
                &:hover { border-color: $menu_hover_black; color: $menu_hover_black; }
                @media #{ $breakpoints-down-sm } {
                  margin-top: 20px;
                }
              }
              
        .second_subtitle { margin-top: 10px; margin-bottom: 20px; }
              
        .form_data { display: flex;
            
            h3 { margin-top: 0px; }
            
            .client_data_title { text-transform: uppercase; font-weight: bold; }
            .client_data_request, .client_spec { text-align: left; }
            .client_data_request { font-size: 16px; }
            .client_spec { font-size: 10px; margin: 5px 0px 10px 0px; }
            input { margin-bottom: 15px; }
            b { margin-top: 10px; width: 100%; text-align: left; display: inline-block; }
            .customInputWrapper { margin-bottom: 15px; padding: 0px;
                .checkbox-custom { margin-left: 0px!important; }
                .custom-label-text { font-size: 10px; text-align: left; float: left; padding-top: 3px; padding-left: 5px; }
            }    
        }
        
        
        
        .order_recap { background-color: $grey; padding-top: 15px; min-height: in;
        
            h4 { text-transform: uppercase; }
            p, b, .quantitySwitch { margin: 0px; }
            
            .prices_boxes { margin-bottom: 15px;
                
                a {  cursor: pointer!important; 
                    b { text-decoration: underline; color: $text_black; font-style: italic;
                        text-underline-position: under;
                        &:hover, &:active, &:focus { color: $menu_hover_black!important; }
                    }
                }
                
            }
            
            .box_6 {
                h3 { text-transform: uppercase;
                    &:first-child { margin: 0px; }
                }
            }
            
        }
        
              
    }
    
    
    .alert_circle { font-weight: bold; border: solid 3px $background_black;
                            color: $background_black; padding: 0px 16.5px 0px 16.5px; font-size: 30px;
                            border-radius: 30px; display: inline-block; margin-bottom: 20px;
                }
    
    .stepsButtons { margin-top: 30px; margin-bottom: 30px;
        button { text-transform: uppercase; font-weight: bold; border: none; outline: none; background: none;
                 text-decoration: none; box-shadow: none; text-shadow: none; width: 100%; border-radius: 0px;
                 padding-top: 10px; padding-bottom: 10px; font-size: 18px;
            &:hover, &:focus, &:visisted { border: none; outline: none; text-decoration: none; }
        }
        .previousStep { background-color: #fff; border: solid 2px $background_black;}
        .nextStep, .inputButton { background-color: $menu_yellow; }
        .inputButton { cursor: pointer!important; padding: 0px; padding-top: 45px;
            input { position: absolute; width: 100%; height: auto; z-index: 6;
                    opacity: 0; padding-top: 30px; cursor: pointer; margin-top: -48px;
                &:active { box-shadow: inset 0 3px 5px rgba(0,0,0,.125); }
                &:focus { outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
                &:hover, &:active { background-color: #d4d4d4; }
            }
            div { position: absolute; margin: 0px; width: 100%; margin-top: -35px;
                  font-weight: bold; text-transform: uppercase; color: $background_black;
                  font-size: 18px; cursor: pointer;
            }
        }
        input, button, .inputButton { margin-bottom: 15px; }
        
        @media #{$breakpoints-down-sm} {
                    fakeInput { margin-left: 1.5%; width: 96.5%; }
                }
        
    }
    
   