
.grey {
  background-color: #dedede;
}

.selected {
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.35);
}

.login_container {
  padding-top: 40px;
}

.login_container .panel-heading {
  height: 45px;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  color: #dedede;
}

.navbar.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
}

.breadcrumb li {
  text-transform: capitalize;
}

.materials .thumbnail .fa {
  margin-top: 20px;
}

.bookBindings-menu h2 {
  margin-bottom: 20px;
}

.bookBindings-menu .panel.panel-default {
  display: none;
}

.bookBindings-menu .panel-heading {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #dedede;
}

.coversTable h2 {
  margin-bottom: 20px;
}

.coversTable .col-md-2 {
  margin-top: 20px;
}

.coversTable .col-md-2.pull-right {
  margin-top: -33px;
}

.coversTable .col-md-2.pull-right button {
  margin-left: -20px;
}

table thead {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

table tr {
  text-align: center;
}

table tr th {
  text-align: center !important;
  color: #dedede;
}

table tr td {
  vertical-align: middle !important;
}

/* paginating buttons */

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

#myModal .form-control,
.panel.panel-default .form-control {
  margin-bottom: 15px;
}

.panel.panel-default hr {
  border: 1.5px solid #dedede;
}

div[data-edit="multipleUpdate"] input[type="checkbox"] {
  margin-left: 10px;
}

label[for="preview"],
label[for="icon"] {
  padding-left: 0px;
}

.coverInputs {
  margin-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.coverInputs input {
  margin-top: 9px;
  display: inline;
}
.pagesIndex {
  text-transform: uppercase;
}

.pagesIndex div {
  padding: 5px;
  float: left;
  border-bottom: solid 1px #fff;
  font-size: 14px;
}

.pagesIndex div a {
  float: right;
  margin-right: 15px;
  text-decoration: none;
  text-indent: 0px;
  cursor: pointer;
}

.pagesIndex div input {
  float: right;
  margin: 4px 10px 0px 0px;
}

.pagesIndex .language,
.pagesIndex .page {
  color: #fff;
  height: 0px;
  overflow: hidden;
  padding: 0px;
}

.pagesIndex .language.open,
.pagesIndex .page.open {
  overflow: visible;
  height: auto;
  padding: 5px;
}

.pagesIndex .language a,
.pagesIndex .page a {
  color: #fff;
}

.pagesIndex .country {
  border-bottom: solid 1px #dedede;
}

.pagesIndex .language {
  text-indent: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

.pagesIndex .page {
  text-indent: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.pagesIndex .massiveTitle,
.pagesIndex .massiveInput,
.pagesIndex .create {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.pagesIndex .massiveTitle {
  background-color: rgba(0, 0, 0, 0.25);
}

.pagesIndex .massiveInput,
.pagesIndex .create {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: solid 1px #fff;
}

.pagesIndex .massiveInput a,
.pagesIndex .create a {
  float: none;
}

#sortable2,
#sortable1 {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  list-style: none;
}

#sortable2 li,
#sortable1 li {
  background: rgba(0, 0, 0, 0.025);
  margin-bottom: 3px;
  border-radius: 2px;
  cursor: pointer;
}

#sortable2 li span,
#sortable1 li span {
  text-indent: 5px;
  text-transform: uppercase;
  font-style: italic;
  width: 200px !important;
}

#sortable1 li {
  padding: 13px 10px 8px 20px;
  text-transform: uppercase;
}

#sortable1 li label,
#sortable1 li textarea {
  display: none;
}

#sortable1 li button {
  display: none;
}

#sortable1 .note-editor.note-frame.panel.panel-default {
  display: none !important;
}

#sortable2 {
  padding: 25px 5px 25px 5px;
}

#sortable2 li {
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px;
}

#sortable2 li label {
  margin-top: 10px;
}

#sortable2 li .note-editable.panel-body {
  cursor: auto;
}

#sortable2 li .deleteComponentButton {
  float: right;
  margin: 5px 10px 5px 5px;
  font-size: 20px;
}

#sortable2 li .componentName {
  font-size: 25px;
  line-height: 2.5;
}

.meta-tags-filler ul {
  list-style: none;
  padding: 0px;
}

.meta-tags-filler ul li {
  width: 100%;
  margin-top: 0px;
  display: inline-block;
}

.meta-tags-filler .btn {
  float: right;
  height: 30px;
  width: 30px;
  text-align: center;
  text-indent: -1.5px;
}

.meta-tags-filler [for="meta-tag"] {
  padding-top: 5px;
}

.meta-tags-filler [for="meta-tag-content"],
.meta-tags-filler [name="meta-tag-content"] {
  width: 60% !important;
  margin: 0px;
  float: left;
}

.meta-tags-filler [for="meta-tag-name"],
.meta-tags-filler [name="meta-tag-name"] {
  width: 15% !important;
  margin: 0px;
  margin-right: 15px;
  float: left;
}

.type {
  padding-left: 25px;
}