@charset "UTF-8";

.center_background,
.home-central {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.anchor_reset,
.footer_wrapper ul li a,
.home-central .cta-body .cta-wrapper a,
.how-works-wrapper .cta-button,
.fifthStepWrapper .cta-button {
  text-decoration: none;
  cursor: pointer;
}

.anchor_reset:hover,
.footer_wrapper ul li a:hover,
.home-central .cta-body .cta-wrapper a:hover,
.how-works-wrapper .cta-button:hover,
.fifthStepWrapper .cta-button:hover,
.anchor_reset:active,
.footer_wrapper ul li a:active,
.home-central .cta-body .cta-wrapper a:active,
.how-works-wrapper .cta-button:active,
.fifthStepWrapper .cta-button:active,
.anchor_reset:focus,
.footer_wrapper ul li a:focus,
.home-central .cta-body .cta-wrapper a:focus,
.how-works-wrapper .cta-button:focus,
.fifthStepWrapper .cta-button:focus,
.anchor_reset:visited,
.footer_wrapper ul li a:visited,
.home-central .cta-body .cta-wrapper a:visited,
.how-works-wrapper .cta-button:visited,
.fifthStepWrapper .cta-button:visited {
  text-decoration: none;
}

.flip-horizontally,
.how-works-wrapper .steps-wrapper .step:nth-child(odd) img {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.flip-vertically {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@media screen and (min-width: 992px) {
  .md-offset-4_5 {
    margin-left: 37.5%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-3_5 {
    width: 29%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-3_5 {
    width: 29%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .col-md-3_5 {
    width: 29%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-3_5 {
    width: 29%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-pull-3_5 {
    right: 29%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-pull-3_5 {
    right: 29%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-pull-3_5 {
    right: 29%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-pull-3_5 {
    right: 29%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-push-3_5 {
    left: 29%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-push-3_5 {
    left: 29%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-push-3_5 {
    left: 29%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-push-3_5 {
    left: 29%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-offset-1_5 {
    margin-left: 12.5%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-offset-1_5 {
    margin-left: 12.5%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-offset-1_5 {
    margin-left: 12.5%;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-offset-1_5 {
    margin-left: 12.5%;
  }
}

.tiny_shadow,
.home-central .cta-body .banner-wrapper,
.home-central .cta-body .cta-wrapper,
.how-works-wrapper {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
}

.btn-revert,
.btn-revert-white {
  background-color: #333333;
  color: #fff;
  font-size: 20px;
  border-radius: 0px;
  font-weight: bold;
  padding: 8px 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.btn-revert:hover,
.btn-revert:focus,
.btn-revert:visited,
.btn-revert-white:hover,
.btn-revert-white:focus,
.btn-revert-white:visited {
  color: #fff;
}

.btn-revert-white {
  background-color: #fff;
  border: solid 2px #333333;
  color: #333333;
}

.btn-revert-white:hover,
.btn-revert-white:focus,
.btn-revert-white:visited {
  color: #333333;
}

.checkbox-custom {
  opacity: 0;
  margin: 0px 0px 0px 40px !important;
  z-index: 2;
  margin-top: 0px;
  background-color: red;
  position: relative;
}

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
  margin-left: -28px;
  margin-top: 3px;
  z-index: 1;
}

.checkbox-custom,
.checkbox-custom-label,
.checkbox-custom-label:before {
  height: 25px;
  width: 25px;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #333333;
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: '✔';
  font-size: 35px;
  background: transparent;
  color: #333;
  line-height: 0.3;
  text-indent: -2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

body {
  background-color: #ececec;
}

.menu_background {
  background-color: #ffcb06;
  background-image: none;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  z-index: 150;
}

.menu_background .navbar-toggle {
  background-color: transparent;
  border: none;
}

.menu_background .navbar-toggle:hover,
.menu_background .navbar-toggle:active,
.menu_background .navbar-toggle:focus,
.menu_background .navbar-toggle:visited {
  background-color: transparent;
  border: none;
}

.menu_background .navbar-toggle .icon-bar {
  width: 50px;
  height: 7px;
  margin-top: 6px;
  background-color: #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.menu_background .navbar-toggle:not(.collapsed) .icon-bar {
  position: absolute;
  right: 2px;
  top: 21px;
}

.menu_background .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  transform: rotate(225deg);
}

.menu_background .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(45deg);
}

.menu_background .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  transform: rotate(135deg);
}

.menu_background .navbar-toggle:not(.collapsed) + .navbar-brand {
  display: none;
}

.menu_background .navbar-collapse {
  border: none;
}

.menu_background .navbar-collapse.in,
.menu_background .navbar-collapse.collapsing {
  padding-top: 20px;
  margin: 0px;
}

.menu_background .navbar-collapse.in div,
.menu_background .navbar-collapse.collapsing div {
  margin: 0px;
  padding: 0px;
}

.menu_background .navbar-header img {
  height: 120px;
}

.menu_background .floating-titles {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 576px) {
  .menu_background .floating-titles {
    padding-left: 15px;
  }
}

.menu_background .link {
  width: 12%;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .menu_background .link {
    width: 100%;
  }
}

.menu_background .link a {
  padding: 30px 0px 70px 0px;
  margin: 0px;
  width: 100%;
  line-height: 12pt;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .menu_background .link a {
    font-size: 1em;
  }
}

@media screen and (max-width: 991px) {
  .menu_background .link a {
    font-size: 0.75em;
    padding: 15px 0px 50px 0px;
  }
}

@media screen and (max-width: 767px) {
  .menu_background .link a {
    text-align: left;
    text-indent: 15px;
    font-size: 1.25em;
    padding: 15px 0px 15px 0px;
  }
}

@media screen and (min-width: 768px) {
  .menu_background .link:AFTER {
    content: '';
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: transparent transparent transparent transparent;
  }
}

@media screen and (min-width: 992px) {
  .menu_background .link:AFTER {
    border-width: 17.3px 10px 0 10px;
    margin-left: -8px;
    top: 70%;
  }
}

.menu_background .link.active {
  background-color: #fff;
}

.menu_background .link:hover:AFTER,
.menu_background .link.active:AFTER {
  border-color: #333333 transparent transparent transparent;
}

.menu_background .link:hover a,
.menu_background .link.active a {
  color: #000;
}

.menu_background .link:last-child {
  background-color: #333333;
}

.menu_background .link:last-child:hover:AFTER {
  border-color: #fff transparent transparent transparent;
}

.menu_background .link:last-child a {
  color: #fff;
  font-weight: light;
}

.menu_background .link:last-child:hover a {
  font-weight: bold;
}

.menu_background .link:last-child.active {
  background-color: #fff;
}

.menu_background .link:last-child.active a {
  color: #000;
}

.menu_background .link:last-child.active:AFTER {
  border-color: #000 transparent transparent transparent;
}

.menu_background .link:first-child:hover:AFTER {
  border-color: transparent transparent transparent transparent;
}

.menu_background .link.hidden-xs {
  width: 15%;
  margin-left: 5%;
}

@media screen and (min-width: 1200px) {
  .menu_background .link.hidden-xs {
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.menu_background .link.hidden-xs a {
  padding: 0px;
}

.menu_background .link.hidden-xs a img {
  width: 100%;
}

.footer_wrapper {
  background-color: #333333;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.footer_wrapper ul {
  list-style: none;
  color: #fff;
}

.footer_wrapper ul li {
  margin-top: 25px;
}

.footer_wrapper ul li a {
  color: #fff;
}

.footer_wrapper .social-wrapper .string {
  margin-top: 15px;
}

.footer_wrapper .social-wrapper .string a {
  color: #fff;
}

.footer_wrapper .rounded {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #333333;
  text-align: center;
}

.footer_wrapper .rounded i {
  line-height: 32.5px;
}

@media screen and (max-width: 767px) {
  .footer_wrapper .footer-column {
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center !important;
  }

  .footer_wrapper .footer-column ul,
  .footer_wrapper .footer-column li {
    padding-left: 0px;
  }

  .footer_wrapper .rounded {
    margin: 0 auto;
  }
}

.home-central {
  background-position: center top;
  background-image: url("../images/home-background.png");
}

@media screen and (min-width: 992px) {
  .home-central {
    height: 1000px;
  }
}

@media screen and (max-width: 1199px) {
  .home-central {
    background-size: cover;
    padding-bottom: 50px;
  }
}

.home-central .cta-body {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .home-central .cta-body {
    margin-top: 100px;
  }
}

.home-central .cta-body .banner-wrapper,
.home-central .cta-body .cta-wrapper {
  background-color: #fff;
}

.home-central .cta-body .banner-wrapper {
  padding: 15px;
}

.home-central .cta-body .banner-wrapper .banner-angle {
  height: 50px;
  width: 50px;
}

.home-central .cta-body .banner-wrapper .top-banner-angle {
  float: right;
}

.home-central .cta-body .banner-wrapper .top-banner-angle .vertical-line,
.home-central .cta-body .banner-wrapper .top-banner-angle .horizontal-line {
  float: right;
}

.home-central .cta-body .banner-wrapper .bottom-banner-angle {
  float: left;
}

.home-central .cta-body .banner-wrapper .bottom-banner-angle .vertical-line,
.home-central .cta-body .banner-wrapper .bottom-banner-angle .horizontal-line {
  float: left;
}

.home-central .cta-body .banner-wrapper .vertical-line,
.home-central .cta-body .banner-wrapper .horizontal-line {
  background-color: #ffcb06;
  position: relative;
}

.home-central .cta-body .banner-wrapper .vertical-line {
  height: 40px;
  width: 12.5px;
}

.home-central .cta-body .banner-wrapper .horizontal-line {
  height: 12.5px;
  width: 52.5px;
}

.home-central .cta-body .banner-wrapper h1,
.home-central .cta-body .banner-wrapper p {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  position: absolute;
  margin: 10px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.home-central .cta-body .banner-wrapper p {
  font-size: 18px;
  font-weight: 700;
  margin-top: -10px;
}

.home-central .cta-body .banner-wrapper h1 {
  margin-top: 30px;
  line-height: 0.9;
}

.home-central .cta-body .banner-wrapper .banner-breaker {
  width: 100%;
  margin-top: 180px;
}

.home-central .cta-body .banner-wrapper .special-br {
  display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-central .cta-body .banner-wrapper h1 {
    font-size: 40px;
  }

  .home-central .cta-body .banner-wrapper p {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .home-central .cta-body .banner-wrapper h1,
  .home-central .cta-body .banner-wrapper p {
    width: 95%;
  }

  .home-central .cta-body .banner-wrapper p {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .home-central .cta-body .banner-wrapper p {
    margin-top: -20px;
  }

  .home-central .cta-body .banner-wrapper h1 {
    margin-top: 40px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .home-central .cta-body .banner-wrapper p {
    margin-top: -15px;
  }

  .home-central .cta-body .banner-wrapper h1 {
    margin-top: 50px;
  }

  .home-central .cta-body .banner-wrapper .banner-breaker {
    margin-top: 120px;
  }
}

@media screen and (max-width: 620px) {
  .home-central .cta-body .banner-wrapper .special-br {
    display: inline-block;
  }

  .home-central .cta-body .banner-wrapper p {
    margin-top: -5px;
  }

  .home-central .cta-body .banner-wrapper h1 {
    margin-top: 45px;
  }

  .home-central .cta-body .banner-wrapper .banner-breaker {
    margin-top: 130px;
  }
}

@media screen and (max-width: 400px) {
  .home-central .cta-body .banner-wrapper .special-br {
    display: none;
  }

  .home-central .cta-body .banner-wrapper br.hidden-xs {
    display: inline-block !important;
  }

  .home-central .cta-body .banner-wrapper .banner-breaker {
    margin-top: 150px;
  }

  .home-central .cta-body .banner-wrapper h1 {
    margin-top: 25px;
  }

  .home-central .cta-body .banner-wrapper p {
    margin-top: -25px;
  }
}

.home-central .cta-body .cta-wrapper {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.home-central .cta-body .cta-wrapper a {
  padding: 15px 0px;
  font-weight: bold;
}

.home-central .cta-body .cta-wrapper a:first-child {
  background-color: #333333;
  color: #fff;
  margin-bottom: 5px;
}

.home-central .cta-body .cta-wrapper a:first-child:hover {
  background-color: #000000;
}

.home-central .cta-body .cta-wrapper a:last-child {
  background-color: #ffcb06;
  color: #333333;
}

.home-central .cta-body .cta-wrapper a:last-child:hover {
  background-color: #FFB400;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .home-central + section {
    margin-top: -500px;
  }
}

.how-works-wrapper {
  margin-left: 4.16%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

.how-works-wrapper h1 {
  font-weight: 700;
  margin-bottom: 0px;
}

.how-works-wrapper h3 {
  margin-top: 0px;
}

.how-works-wrapper .steps-wrapper {
  padding: 20px 0px;
}

.how-works-wrapper .steps-wrapper .step {
  padding: 30px 0px;
}

@media screen and (min-width: 992px) {
  .how-works-wrapper .steps-wrapper .step {
    margin-right: 1px;
  }

  .how-works-wrapper .steps-wrapper .step:first-child {
    margin-left: -5px;
  }
}

.how-works-wrapper .steps-wrapper .step:last-child {
  margin-right: 0px;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(1) {
  background-color: #198cac;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(2) {
  background-color: #ffcb06;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(3) {
  background-color: #e63b62;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(4) {
  background-color: #ffcb06;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(5) {
  background-color: #e63b62;
}

.how-works-wrapper .steps-wrapper .step:nth-of-type(6) {
  background-color: #198cac;
}

.how-works-wrapper .steps-wrapper .step:nth-child(even) {
  color: #333333;
}

.how-works-wrapper .steps-wrapper .step:nth-child(odd) {
  color: #fff;
}

.how-works-wrapper .steps-wrapper .step h3 {
  text-transform: uppercase;
}

.how-works-wrapper .steps-wrapper .step:hover {
  opacity: 0.75;
}

.how-works-wrapper .cta-button {
  border: solid 4px #333333;
  text-transform: uppercase;
  color: #333333;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.how-works-wrapper .cta-button:hover {
  border-color: #000000;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .how-works-wrapper .cta-button {
    margin-top: 20px;
  }
}

.bookie-section {
  background-color: #fff;
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
}

.bookie-section h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.bookie-section .line-wrapper hr {
  border-color: #333333;
}

.bookie-section .line-wrapper hr:first-of-type {
  width: 50%;
  border-width: 6px;
}

.bookie-section .line-wrapper hr:nth-child(2) {
  width: 100%;
  margin-top: -24px;
  border-width: 2px;
}

.bookie-section .colorizerDivider hr:first-child {
  margin-top: -5px;
}

@media screen and (max-width: 991px) {
  .bookie-section .category-button {
    margin-bottom: 10px;
  }
}

.bookie-section .category-button {
  padding: 0px 5px;
  opacity: 0.7;
}

.bookie-section .category-button .button {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0px;
  font-weight: bold;
}

.bookie-section .category-button:nth-child(1) .button {
  background-color: #333333;
}

.bookie-section .category-button:nth-child(1).active:AFTER {
  border-color: #333333 transparent transparent transparent;
}

.bookie-section .category-button:nth-child(2) .button {
  background-color: #198cac;
}

.bookie-section .category-button:nth-child(2).active:AFTER {
  border-color: #198cac transparent transparent transparent;
}

.bookie-section .category-button:nth-child(3) .button {
  background-color: #ffcb06;
}

.bookie-section .category-button:nth-child(3).active:AFTER {
  border-color: #ffcb06 transparent transparent transparent;
}

.bookie-section .category-button:nth-child(4) .button {
  background-color: #e63b62;
}

.bookie-section .category-button:nth-child(4).active:AFTER {
  border-color: #e63b62 transparent transparent transparent;
}

.bookie-section .category-button:hover,
.bookie-section .category-button.active {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .bookie-section .category-button:AFTER {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 12px 0 12px;
    border-color: transparent transparent transparent transparent;
  }
}

.bookie-section .choice-column {
  border-bottom: solid 2px #333;
  padding: 0px;
  display: inline-block;
}

.bookie-section .choice-column h2 {
  color: #333;
  text-transform: uppercase;
  text-align: left;
  float: right;
  max-width: 75%;
  font-size: 17px;
}

.bookie-section .choice-column span {
  background-color: #333;
  color: #fff;
  padding: 0px 12px;
  font-size: 25px;
  float: left;
  margin-top: 20px;
  font-weight: bold;
}

.bookie-section .cover-preview {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bookie-section .cover-preview img {
  max-width: 100%;
  vertical-align: middle;
}

.choose-wrapper {
  padding-bottom: 30px;
}

.colorDiv-wrapper {
  padding: 15px;
}

.coverDiv-wrapper .coverDiv img,
.coverDiv-wrapper .colorDiv img,
.colorDiv-wrapper .coverDiv img,
.colorDiv-wrapper .colorDiv img {
  margin: auto;
  float: none;
  margin-bottom: 10px;
  padding: 2px;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  border: solid 2px transparent;
  border-radius: 20px;
}

.coverDiv-wrapper .coverDiv p,
.coverDiv-wrapper .colorDiv p,
.colorDiv-wrapper .coverDiv p,
.colorDiv-wrapper .colorDiv p {
  font-size: 7.5pt;
  margin-bottom: 10px;
  font-weigth: 600;
}

.coverDiv-wrapper .coverDiv.active img,
.coverDiv-wrapper .colorDiv.active img,
.colorDiv-wrapper .coverDiv.active img,
.colorDiv-wrapper .colorDiv.active img {
  border-color: #333;
}

.typeName {
  float: left;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.categoryDescription {
  margin-top: 50px;
  margin-bottom: 30px;
}

.categoryDescription p {
  margin: 0px;
}

.bookie-configurator {
  padding-bottom: 30px;
}

.bookie-configurator .steps_wrapper {
  color: #333333;
}

.bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .step_label_top:BEFORE {
  content: '';
  border-left: 2px solid;
  border-top: 2px solid;
  z-index: 4;
  position: absolute;
  margin-left: 83%;
  transform: rotate(135deg);
  display: inline-table;
  height: 15px;
  margin-top: 43px;
  width: 14px;
}

@media screen and (max-width: 767px) {
  .bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .step_label_top:BEFORE {
    display: none;
  }
}

.bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .number:AFTER {
  content: '';
  border-bottom: dotted 2px;
  width: 57%;
  position: absolute;
  margin-top: 15px;
  margin-left: 15%;
  z-index: 3;
}

@media screen and (max-width: 991px) {
  .bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .number:AFTER {
    margin-left: 20%;
    width: 52%;
  }
}

@media screen and (max-width: 767px) {
  .bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .number:AFTER {
    display: none;
  }
}

.bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .step_label_top:BEFORE,
.bookie-configurator .steps_wrapper .configurator-step:not(:last-child) .number:AFTER {
  border-color: #ffcb06;
}

.bookie-configurator .steps_wrapper .step_label_top,
.bookie-configurator .steps_wrapper .setp_label_bottom {
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
}

.bookie-configurator .steps_wrapper .step_label_top {
  padding-bottom: 10px;
}

.bookie-configurator .steps_wrapper .step_label_bottom {
  margin-top: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.bookie-configurator .steps_wrapper .number {
  font-size: 25px;
  border-radius: 55px;
  background-color: #ffcb06;
  padding: 10px 17px;
  font-weight: bold;
}

.bookie-configurator .steps_wrapper .configurator-step.passed {
  opacity: 0.4;
}

.bookie-configurator .steps_wrapper .configurator-step.current .number,
.bookie-configurator .steps_wrapper .configurator-step.passed .number {
  background-color: #333333;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .bookie-configurator .steps_wrapper .configurator-step {
    padding: 0px 5px 5px 0px;
  }

  .bookie-configurator .steps_wrapper .number {
    font-size: 20px;
    padding: 10px 16px;
  }

  .bookie-configurator .steps_wrapper .step_label_top,
  .bookie-configurator .steps_wrapper .step_label_bottom {
    font-size: 10px;
  }
}

.bookie-configurator .stepTitle {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 0px;
}

.bookie-configurator .stepDescription {
  margin-top: 10px;
}

.bookie-configurator .stepExplanation {
  margin-top: 5px;
}

.bookie-configurator .loadNow {
  margin-bottom: 0px;
}

.bookie-configurator .loadNow + h6 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.bookie-configurator .custom-input-group + label {
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 5px;
}

.bookie-configurator .customInputWrapper input {
  margin-left: 25px !important;
}

@media screen and (max-width: 575px) {
  .bookie-configurator .firstPageWrapper .custom-input-group {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 590px) {
  .bookie-configurator .customInputWrapper {
    padding: 0% 30% 0% 30%;
  }
}

@media screen and (max-width: 589px) and (min-width: 432px) {
  .bookie-configurator .customInputWrapper {
    padding: 0% 15% 0% 15%;
  }
}

.bookie-configurator .step_1_divider {
  border-top: dotted 2px #ffcb06;
  margin-top: 0px;
}

.bookie-configurator .dividerTitle {
  margin-top: 0px;
}

.bookie-configurator .afterDiv {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bookie-configurator .advise_banner {
  background-color: #e6e6e6;
  padding: 15px 25px 20px 25px;
}

.bookie-configurator .advise_banner p {
  width: 100%;
  margin: 0px;
}

.bookie-configurator .secondStepWrapper .coverImageWrapper {
  margin-top: 25px;
}

.bookie-configurator .secondStepWrapper .coverImageWrapper .cover-preview {
  width: auto;
  min-height: 600px;
  background-position: top center;
}

.bookie-configurator .secondStepWrapper .coverImageWrapper .cover-preview img {
  width: auto;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels {
  padding-top: 35px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels [class*="panel-"] {
  background: none;
  background-color: #e6e6e6;
  border: none;
  border-radius: 0px;
  margin: 0px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-group {
  background-color: transparent;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-default {
  margin-bottom: 3px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-heading {
  text-transform: uppercase;
  padding: 30px 0px 30px 0px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-heading a {
  text-decoration: none;
  font-weight: bold;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-heading a:hover,
.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-heading a:visited,
.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-heading a:focus {
  text-decoration: none;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body {
  padding: 10px 0px 0px 0px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-title,
.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details {
  padding: 2px 45px 3px 45px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-title {
  padding-bottom: 5px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-title hr {
  border: solid 1px #333333;
  width: 100%;
  margin: 3px 0px 0px 0px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details {
  display: inline-block;
  width: 100%;
  line-height: 1.8;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details label,
.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details input,
.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details label:before {
  height: 17px;
  width: 17px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details input {
  margin: 0px !important;
  position: absolute;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details label {
  margin-left: 0px;
  background-color: transparent;
  border: 1px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details .checkbox-custom-label:before {
  background: #e6e6e6;
  line-height: 0.1;
  text-indent: -1px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-details .checkbox-custom:checked + .checkbox-custom-label:before {
  font-size: 22px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e6e6e6;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-previews {
  min-height: 80px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-previews img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 25px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .panel-body .content-previews img.active {
  border-color: #fff;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper {
  color: #fff;
  padding: 0px;
  width: 100%;
  padding-top: 3px;
  background-color: #fff;
  margin-top: 15px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div {
  padding: 0px;
  background-color: #e6e6e6;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div button {
  width: 100%;
  margin-bottom: 0px;
  font-family: Arial, Helvetica;
}

@media screen and (min-width: 576px) {
  .bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div:first-child {
    padding-right: 1.5px;
  }

  .bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div:last-child {
    padding-left: 1.5px;
  }
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div:last-child {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div:last-child {
    padding-right: 1.5px;
  }
}

@media screen and (max-width: 575px) {
  .bookie-configurator .secondStepWrapper .secondSetp_panels .paneButtonsWrapper div:last-child {
    padding-right: 0px;
  }
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .temp_order {
  width: 100%;
  margin: 0px;
  margin-top: 15px;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .temp_order p,
.bookie-configurator .secondStepWrapper .secondSetp_panels .temp_order h5 {
  width: 100%;
  margin: 0px;
  text-align: left;
  text-transform: capitalize;
}

.bookie-configurator .secondStepWrapper .secondSetp_panels .temp_order .order_temp_details_title,
.bookie-configurator .secondStepWrapper .secondSetp_panels .temp_order .order_temp_details_total {
  font-weight: bold;
  text-transform: uppercase;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper::-webkit-scrollbar {
  display: none;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper {
  margin-top: 30px;
  height: 350px;
  max-height: 350px;
  padding: 25px 0px 0px 0px;
  overflow: hidden;
  overflow-y: scroll;
  display: inline-block;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper {
  margin: 0px 0px 20px 25px;
  float: left;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper canvas {
  max-height: 200px;
  border: solid 2px #e6e6e6;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper .colorSwitcher {
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 4;
  margin: 0px 0px 0px -20px;
  cursor: pointer;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper [data-color="grey"] {
  background: -webkit-linear-gradient(left top, white, black);
  background: -o-linear-gradient(left top, white, black);
  background: -moz-linear-gradient(left top, white, black);
  background: linear-gradient(to bottom right white, black);
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper [data-color="color"] {
  background: -webkit-linear-gradient(left top, red, orange, yellow, green, blue, indigo, violet);
  background: -o-linear-gradient(left top, red, orange, yellow, green, blue, indigo, violet);
  background: -moz-linear-gradient(left top, red, orange, yellow, green, blue, indigo, violet);
  background: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper .pageLabel {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 24x;
}

.bookie-configurator .thirdStepWrapper #canvasWrapper .pageWrapper .pageTransform {
  text-transform: uppercase;
  font-size: 12px;
}

.bookie-configurator .fourthStepWrapper .textZone {
  background-color: #EDEBED;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bookie-configurator .fourthStepWrapper .textZone input,
.bookie-configurator .fourthStepWrapper .textZone textarea {
  z-index: 5;
  position: absolute;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: 'Times';
}

.bookie-configurator .fourthStepWrapper .textZone .university {
  margin-left: -30%;
  margin-top: 12%;
  text-align: center;
  width: 60%;
  height: 6%;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 15px 0px 15px;
}

.bookie-configurator .fourthStepWrapper .textZone .faculty {
  margin-left: -30%;
  margin-top: 18%;
  text-align: center;
  width: 60%;
  height: 6%;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.bookie-configurator .fourthStepWrapper .textZone .course {
  margin-left: -35%;
  margin-top: 28%;
  text-align: center;
  width: 70%;
  height: 6%;
  font-weight: bold;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
}

.bookie-configurator .fourthStepWrapper .textZone .student {
  margin-left: -45%;
  margin-top: 40%;
  text-align: left;
  width: 25%;
  height: 7em;
  line-height: 1.5;
}

.bookie-configurator .fourthStepWrapper .textZone .teacher {
  margin-left: 19.5%;
  margin-top: 40%;
  text-align: right;
  width: 25%;
  height: 7em;
  line-height: 1.5;
}

.bookie-configurator .fourthStepWrapper .textZone .thesis {
  margin-left: -35%;
  margin-top: 68%;
  text-align: center;
  width: 70%;
  height: 7%;
  font-weight: bold;
  font-size: 21px;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;
}

.bookie-configurator .fourthStepWrapper .textZone .year {
  margin-left: -25%;
  margin-top: 85%;
  text-align: center;
  width: 50%;
  height: 6%;
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 991px) {
  .bookie-configurator .fourthStepWrapper .textZone .university,
  .bookie-configurator .fourthStepWrapper .textZone .faculty {
    font-size: 16px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .course {
    font-size: 14px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .student,
  .bookie-configurator .fourthStepWrapper .textZone .teacher {
    font-size: 10px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .thesis {
    font-size: 17px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .year {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .bookie-configurator .fourthStepWrapper .textZone .university,
  .bookie-configurator .fourthStepWrapper .textZone .faculty {
    font-size: 14px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .course {
    font-size: 12px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .student,
  .bookie-configurator .fourthStepWrapper .textZone .teacher {
    font-size: 8px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .teacher {
    margin-left: 18%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .student {
    margin-left: -43%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .thesis {
    font-size: 15px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .year {
    font-size: 10px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .university,
  .bookie-configurator .fourthStepWrapper .textZone .faculty,
  .bookie-configurator .fourthStepWrapper .textZone .student,
  .bookie-configurator .fourthStepWrapper .textZone .teacher,
  .bookie-configurator .fourthStepWrapper .textZone .thesis,
  .bookie-configurator .fourthStepWrapper .textZone .year {
    padding: 0px 15px 0px 15px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .course {
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 575px) {
  .bookie-configurator .fourthStepWrapper .textZone .university,
  .bookie-configurator .fourthStepWrapper .textZone .faculty {
    font-size: 10px;
    width: 45%;
    margin-left: -22.5%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .course {
    font-size: 8px;
    width: 60%;
    margin-left: -30%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .student,
  .bookie-configurator .fourthStepWrapper .textZone .teacher {
    font-size: 6px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .teacher {
    margin-left: 18%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .student {
    margin-left: -43%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .thesis {
    font-size: 10px;
    width: 60%;
    margin-left: -30%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .year {
    font-size: 6px;
    width: 40%;
    margin-left: -20%;
  }

  .bookie-configurator .fourthStepWrapper .textZone .university,
  .bookie-configurator .fourthStepWrapper .textZone .faculty,
  .bookie-configurator .fourthStepWrapper .textZone .student,
  .bookie-configurator .fourthStepWrapper .textZone .teacher,
  .bookie-configurator .fourthStepWrapper .textZone .thesis,
  .bookie-configurator .fourthStepWrapper .textZone .year {
    padding: 0px 15px 0px 15px;
  }

  .bookie-configurator .fourthStepWrapper .textZone .course {
    padding: 0px 20px 0px 20px;
  }
}

.bookie-configurator .fourthStepWrapper .textZone .textRound {
  position: relative;
  display: block;
  margin: 0 auto;
}

.bookie-configurator .fourthStepWrapper .textZone .textRound:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  border: solid 6px #e6e6e6;
  content: "";
}

.bookie-configurator .fourthStepWrapper .textZone .cdHole {
  display: block;
  padding-bottom: 20%;
  width: 22%;
  height: auto;
  margin: 40% 39%;
  border-radius: 50%;
  background-color: #EDEBED;
  border: solid 6px #e6e6e6;
  content: "";
  z-index: 7;
  position: absolute;
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions {
  padding: 0px;
  opacity: 0.75;
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions div {
  padding: 0px;
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions div:first-child {
  margin-top: 50%;
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions div:nth-child(2) {
  margin-top: 68%;
}

.inputDescriptions:first-child div:last-child {
  margin-top: 77%;
}

.inputDescriptions:nth-child(3) div:last-child {
  margin-top: 133%;
}

@media screen and (max-width: 767px) {
  .bookie-configurator .fourthStepWrapper .textZone .inputDescriptions div {
    font-size: 12px;
  }
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions:first-child div {
  text-align: left;
}

.bookie-configurator .fourthStepWrapper .textZone .inputDescriptions:nth-child(3) div {
  text-align: right;
}

.bookie-configurator .fourthStepWrapper .CdCropManage img {
  display: none;
}

.bookie-configurator .fourthStepWrapper .CdCropManage canvas {
  max-width: 100%;
}

.fifthStepWrapper .cta-button {
  border: solid 4px #333333;
  text-transform: uppercase;
  color: #333333;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
}

.fifthStepWrapper .cta-button:hover {
  border-color: #000000;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .fifthStepWrapper .cta-button {
    margin-top: 20px;
  }
}

.fifthStepWrapper .second_subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
}

.fifthStepWrapper .form_data {
  display: flex;
}

.fifthStepWrapper .form_data h3 {
  margin-top: 0px;
}

.fifthStepWrapper .form_data .client_data_title {
  text-transform: uppercase;
  font-weight: bold;
}

.fifthStepWrapper .form_data .client_data_request,
.fifthStepWrapper .form_data .client_spec {
  text-align: left;
}

.fifthStepWrapper .form_data .client_data_request {
  font-size: 16px;
}

.fifthStepWrapper .form_data .client_spec {
  font-size: 10px;
  margin: 5px 0px 10px 0px;
}

.fifthStepWrapper .form_data input {
  margin-bottom: 15px;
}

.fifthStepWrapper .form_data b {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.fifthStepWrapper .form_data .customInputWrapper {
  margin-bottom: 15px;
  padding: 0px;
}

.fifthStepWrapper .form_data .customInputWrapper .checkbox-custom {
  margin-left: 0px !important;
}

.fifthStepWrapper .form_data .customInputWrapper .custom-label-text {
  font-size: 10px;
  text-align: left;
  float: left;
  padding-top: 3px;
  padding-left: 5px;
}

.fifthStepWrapper .order_recap {
  background-color: #e6e6e6;
  padding-top: 15px;
  min-height: in;
}

.fifthStepWrapper .order_recap h4 {
  text-transform: uppercase;
}

.fifthStepWrapper .order_recap p,
.fifthStepWrapper .order_recap b,
.fifthStepWrapper .order_recap .quantitySwitch {
  margin: 0px;
}

.fifthStepWrapper .order_recap .prices_boxes {
  margin-bottom: 15px;
}

.fifthStepWrapper .order_recap .prices_boxes a {
  cursor: pointer !important;
}

.fifthStepWrapper .order_recap .prices_boxes a b {
  text-decoration: underline;
  color: #333333;
  font-style: italic;
  text-underline-position: under;
}

.fifthStepWrapper .order_recap .prices_boxes a b:hover,
.fifthStepWrapper .order_recap .prices_boxes a b:active,
.fifthStepWrapper .order_recap .prices_boxes a b:focus {
  color: #000000 !important;
}

.fifthStepWrapper .order_recap .box_6 h3 {
  text-transform: uppercase;
}

.fifthStepWrapper .order_recap .box_6 h3:first-child {
  margin: 0px;
}

.alert_circle {
  font-weight: bold;
  border: solid 3px #333333;
  color: #333333;
  padding: 0px 16.5px 0px 16.5px;
  font-size: 30px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 20px;
}

.stepsButtons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stepsButtons button {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  width: 100%;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.stepsButtons button:hover,
.stepsButtons button:focus,
.stepsButtons button:visisted {
  border: none;
  outline: none;
  text-decoration: none;
}

.stepsButtons .previousStep {
  background-color: #fff;
  border: solid 2px #333333;
}

.stepsButtons .nextStep,
.stepsButtons .inputButton {
  background-color: #ffcb06;
}

.stepsButtons .inputButton {
  cursor: pointer !important;
  padding: 0px;
  padding-top: 45px;
}

.stepsButtons .inputButton input {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 6;
  opacity: 0;
  padding-top: 30px;
  cursor: pointer;
  margin-top: -48px;
}

.stepsButtons .inputButton input:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.stepsButtons .inputButton input:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.stepsButtons .inputButton input:hover,
.stepsButtons .inputButton input:active {
  background-color: #d4d4d4;
}

.stepsButtons .inputButton div {
  position: absolute;
  margin: 0px;
  width: 100%;
  margin-top: -35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  font-size: 18px;
  cursor: pointer;
}

.stepsButtons input,
.stepsButtons button,
.stepsButtons .inputButton {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .stepsButtons fakeInput {
    margin-left: 1.5%;
    width: 96.5%;
  }
}