.how-works-wrapper { margin-left: 4.16%; background-color: #fff; font-family: $basic_family; padding-top: 40px; padding-bottom: 40px;
  @extend .tiny_shadow;
  h1 { font-weight: 700; margin-bottom: 0px; }
  h3 { margin-top: 0px; }
  .steps-wrapper { padding: 20px 0px;
    .step { padding: 30px 0px;
      @media #{$breakpoints-up-lg} {
        margin-right: 1px;
        &:first-child { margin-left: -5px; }
      }
      &:last-child { margin-right: 0px; }
      &:nth-of-type(1) { background-color: $cyan; }
      &:nth-of-type(2) { background-color: $yellow; }
      &:nth-of-type(3) { background-color: $magenta; }
      &:nth-of-type(4) { background-color: $yellow; }
      &:nth-of-type(5) { background-color: $magenta; }
      &:nth-of-type(6) { background-color: $cyan; }
      &:nth-child( even ){ color: $text_black; }
      &:nth-child( odd ){ color: #fff;
        img { @extend .flip-horizontally; }
      }

      h3 { text-transform: uppercase; }
      h5 { }
      &:hover { opacity: 0.75; }
     }
  }
  .cta-button { @extend .anchor_reset; border: solid 4px $text_black; text-transform: uppercase; color: $text_black;
                padding-top: 12px; padding-bottom: 12px; font-weight: bold; font-size: 16px;
                &:hover { border-color: $menu_hover_black; color: $menu_hover_black; }
                @media #{ $breakpoints-down-sm } {
                  margin-top: 20px;
                }
              }
}
