
  <section class="col-md-11 col-sm-11 how-works-wrapper">
    <div class="col-md-12 text-center"><h1>COME FUNZIONA?</h1></div>
    <div class="col-md-12 text-center"><h3>La tua tesi in 6 step</h3></div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 steps-wrapper">
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 step text-center">
        <h3>test 3</h3>
        <h5>lorem ipsum <i class="fa fa-chevron-right" aria-hidden="true"></i></h5>
        <img src="../../assets/frontend/images/piede.png" alt="">
      </div>
    </div>
    <div class="col-md-12">
      <a href="#" class="col-md-3 col-sm-4 col-sm-offset-4 md-offset-4_5 col-xs-8 col-xs-offset-2 cta-button text-center">
        INIZIA SUBITO!
      </a>
    </div>
    <div class="" style="clear: both; width: 100%; height: 1px;"></div>
  </section>

  <script type="text/javascript" src="../../assets/frontend/js/how-it-works.js"></script>
