
<script src="../../assets/js/vendor/angular/angular.min.js"> </script>

<section ng-app="bookie" class="bookie-section text-center col-lg-10 col-lg-offset-1"  ng-controller="baseController">

    <div class="" data-entry="editoriale Titolo">
      <p>##editoriale Titolo##</p>
    </div>
    
    <div class="line-wrapper text-center col-lg-10 col-lg-offset-1 colorizerDivider">
        <hr>
        <hr>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12 category-button" ng-class="( singleCategory === category ) ? 'active' : ''" ng-repeat="singleCategory in categories">
            <div class="button col-lg-10 col-lg-offset-1  text-center" ng-click="getCategory( singleCategory )"> {{ singleCategory.name }} </div>
        </div>
    </div>
    
    <div style="clear: both; width: 100%;"></div>

    <div class="col-md-12 categoryDescription" data-toHTML="{{ category.description | toHTML }}"></div>
    
    
    <div choose-cover ></div>

</section>


<script src="../../assets/js/vendor/angular/apps/book-bindings.js"> </script>
<script src="../../assets/js/vendor/angular/bookBindings.service.js"> </script>
<script src="../../assets/js/vendor/angular/directives/book-bindings.js"> </script>
<script src="../../assets/js/vendor/cropper/ui-cropper.js"> </script>
