.bookie-section { background-color: #fff; padding-top: 100px; font-family: $basic_family;
  h1 { text-transform: uppercase; font-weight: 400; }
  .line-wrapper {
    hr { border-color: $background_black; }
    hr:first-of-type { width: 50%; border-width: 6px; }
    hr:nth-child(2) { width: 100%; margin-top: -24px; border-width: 2px; }
  }
  
  .colorizerDivider { hr:first-child { margin-top: -5px; } }
    
    .category-button {
        @media #{$breakpoints-down-md} {
            margin-bottom: 10px;
        }
    }

  .category-button { padding: 0px 5px; opacity: 0.7;
    .button { cursor: pointer; text-transform: uppercase; color: #fff; padding: 20px 0px; font-weight: bold; }
    &:nth-child(1) {
        .button { background-color: $background_black; }
        &.active {
            &:AFTER { border-color: $background_black transparent transparent transparent; }
        }
    }
    &:nth-child(2) {
        .button { background-color: $cyan; }
        &.active {
            &:AFTER { border-color: $cyan transparent transparent transparent; }
        }
    }
    &:nth-child(3) {
        .button { background-color: $yellow; }
        &.active {
            &:AFTER { border-color: $yellow transparent transparent transparent; }
        }
    }
    &:nth-child(4) {
        .button { background-color: $magenta; }
        &.active {
            &:AFTER { border-color: $magenta transparent transparent transparent; }
        }
    }
    &:hover, &.active { opacity: 1; }
    
    // @media #{$breakpoints-up-md} {
    //       &:AFTER { content: ''; position: absolute; top: 120%; left: 50%; margin-left: -4px; width: 0; height: 0; border-style: solid;
    //               border-width: 8px 5px 0 5px; border-color: transparent transparent transparent transparent;
    //       }
    //     }
      @media #{$breakpoints-up-lg} {
        &:AFTER { content: ''; position: absolute; top: 120%; left: 50%; margin-left: -4px; width: 0; height: 0; border-style: solid;
                  border-width: 19px 12px 0 12px; border-color: transparent transparent transparent transparent; }
      }
    
  }
    
  .choice-column { border-bottom: solid 2px #333; padding: 0px; display: inline-block;
  
      h2 { color: #333; text-transform: uppercase; text-align: left; float: right;
            max-width: 75%; font-size: 17px;
      }
      span { background-color: #333; color: #fff; padding: 0px 12px; font-size: 25px;
          float: left; margin-top: 20px; font-weight: bold; }
   }
    
    .cover-preview { background-position: center center; background-size: contain; background-repeat: no-repeat;
        img { max-width: 100%; vertical-align: middle; }
    }

}

.choose-wrapper { padding-bottom: 30px; }

.colorDiv-wrapper {  padding: 15px; }
.coverDiv-wrapper, .colorDiv-wrapper { 
    .coverDiv, .colorDiv {  
        img { margin: auto; float: none; margin-bottom: 10px; padding: 2px; cursor: pointer;
                min-width: 30px; min-height: 30px; border: solid 2px transparent; border-radius: 20px; }
        p { font-size: 7.5pt; margin-bottom: 10px; font-weigth: 600; }
        &.active { img { border-color: #333;  } }
    }

}

.typeName { float: left; margin-left: 5px; margin-bottom: 15px; margin-top: 15px; }

.categoryDescription { margin-top: 50px; margin-bottom: 30px;
    p { margin: 0px; }
    
}