
// breakpoints
  $break: "screen and (max-width: 575px)";

          $breakpoints-retina: "(-webkit-min-device-pixel-ratio: 2)";
          $breakpoints-xs:     "screen and (max-width: 575px)";
          $breakpoints-sm:     "screen and (min-width: 576px) and (max-width: 767px)";
          $breakpoints-md:     "screen and (min-width: 768px) and (max-width: 991px)";
          $breakpoints-lg:     "screen and (min-width: 992px) and (max-width: 1199px)";
          $breakpoints-xl:    "screen and (min-width: 1200px)";

          $breakpoints-up-sm:     "screen and (min-width: 576px)";
          $breakpoints-up-md:     "screen and (min-width: 768px)";
          $breakpoints-up-lg:     "screen and (min-width: 992px)";
          $breakpoints-up-xl:    "screen and (min-width: 1200px)";

          $breakpoints-down-xs:     "screen and (max-width: 575px)";
          $breakpoints-down-sm:     "screen and (max-width: 767px)";
          $breakpoints-down-md:     "screen and (max-width: 991px)";
          $breakpoints-down-lg:     "screen and (max-width: 1199px)";
