
  .center_background { background-position: center center; background-size: 100%; background-repeat: no-repeat; }
  .anchor_reset { text-decoration: none; cursor: pointer;
    &:hover, &:active, &:focus, &:visited { text-decoration: none;  }
  }
  .flip-horizontally { -moz-transform: scale(1, -1); -o-transform: scale(1, -1); -webkit-transform: scale(1, -1); transform: scale( 1, -1); }
  .flip-vertically { -moz-transform: scale(-1, 1); -o-transform: scale(-1, 1); -webkit-transform: scale(-1, 1); transform: scale(-1, 1); }
  .md-offset-4_5 {
    @media #{$breakpoints-up-lg} {
      margin-left: 37.5%;
    }
  }


.col-xl-3_5 {
    @media #{$breakpoints-up-xl} {
      width: 29%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left;
    }
}
.col-lg-3_5 {
    @media #{$breakpoints-up-lg} {
      width: 29%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left;
    }
}
.col-md-3_5 {
    @media #{$breakpoints-up-md} {
      width: 29%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left;
    }
}
.col-sm-3_5 {
    @media #{$breakpoints-up-sm} {
      width: 29%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left;
    }
}



.col-xl-pull-3_5 {
    @media #{$breakpoints-up-xl} {
      right: 29%;
    }
}
.col-lg-pull-3_5 {
    @media #{$breakpoints-up-lg} {
      right: 29%;
    }
}
.col-md-pull-3_5 {
    @media #{$breakpoints-up-md} {
      right: 29%;
    }
}
.col-sm-pull-3_5 {
    @media #{$breakpoints-up-sm} {
      right: 29%;
    }
}


.col-xl-push-3_5 {
    @media #{$breakpoints-up-xl} {
      left: 29%;
    }
}
.col-lg-push-3_5 {
    @media #{$breakpoints-up-lg} {
      left: 29%;
    }
}
.col-md-push-3_5 {
    @media #{$breakpoints-up-md} {
      left: 29%;
    }
}
.col-sm-push-3_5 {
    @media #{$breakpoints-up-sm} {
      left: 29%;
    }
}


.col-xl-offset-1_5 {
    @media #{$breakpoints-up-xl} {
      margin-left: 12.5%;
    }
}
.col-lg-offset-1_5 {
    @media #{$breakpoints-up-lg} {
      margin-left: 12.5%;
    }
}
.col-md-offset-1_5 {
    @media #{$breakpoints-up-md} {
      margin-left: 12.5%;
    }
}
.col-sm-offset-1_5 {
    @media #{$breakpoints-up-sm} {
      margin-left: 12.5%;
    }
}

  .tiny_shadow { box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.09 ); }
  
  .btn-revert, .btn-revert-white { background-color: $background-black; color: #fff; font-size: 20px;
                                   border-radius: 0px; font-weight: bold; padding: 8px 14px ; text-transform: uppercase;
                                   margin-bottom: 15px;
    &:hover, &:focus, &:visited { color: #fff; }
  }
  
  .btn-revert-white { background-color: #fff; border: solid 2px $background_black; color: $background_black;
     &:hover, &:focus, &:visited { color: $background_black; }
  }
  
  .checkbox-custom { opacity: 0; margin: 0px 0px 0px 40px!important; z-index: 2; margin-top: 0px; background-color: red; position: relative; }
    .checkbox-custom, .checkbox-custom-label { display: inline-block; vertical-align: middle; cursor: pointer; }
    .checkbox-custom-label { position: relative; margin-left: -28px; margin-top: 3px; z-index: 1; }
    .checkbox-custom, .checkbox-custom-label, .checkbox-custom-label:before { height: 25px; width: 25px; }
    .checkbox-custom + .checkbox-custom-label:before { content: ''; background: #fff; border: 2px solid $background-black; display: inline-block; vertical-align: middle; padding: 2px; text-align: center; }
    .checkbox-custom:checked + .checkbox-custom-label:before { content: '✔'; font-size: 35px; background: transparent; color: #333; line-height: 0.3; text-indent: -2px; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #fff;}
    
    