
// colors
    $menu_hover_black:  #000000;
    $menu_hover_yellow: #FFB400;
    $menu_yellow:       #ffcb06;
    $text_black:        #333333;
    $cyan:              #198cac;
    $yellow:            #ffcb06;
    $magenta:           #e63b62;
    $background_black:  #333333;
    $body_background:   #ececec;
    $grey:              #e6e6e6;

// styles
    $basic_family: 'Open Sans', sans-serif;
