// import content helpers
@import '__breakpoints';
@import '__variables';
@import '__common';
@import '__mixins';


  body { background-color: $body_background; }

  .menu_background { background-color: $menu_yellow; background-image: none; border: none; border-radius: 0px; margin-bottom: 0px; z-index: 150;

    .navbar-toggle { background-color: transparent; border: none;
      &:hover, &:active, &:focus, &:visited { background-color: transparent; border: none; }
      .icon-bar { width: 50px; height: 7px; margin-top: 6px; background-color: #fff;
                  transition-duration: 0.4s; transition-property: transform;
      }
      &:not(.collapsed) {
        .icon-bar { position: absolute; right: 2px; top: 21px;  }
        .icon-bar:nth-child( 2 ) { transform: rotate( 225deg ); }
        .icon-bar:nth-child( 3 ) { transform: rotate( 45deg ); }
        .icon-bar:nth-child( 4 ) { transform: rotate( 135deg ); }
        + .navbar-brand { display: none; }
      }
    }

    .navbar-collapse { border: none;
      &.in, &.collapsing { padding-top: 20px; margin: 0px;
        div { margin: 0px; padding: 0px; }

      }
    }
    .navbar-header {
      img { height: 120px; }
    }
    .floating-titles { font-family: $basic_family;
      @media #{$breakpoints-up-sm} {
        padding-left: 15px;
      }
    }
    .link { width: 12%; padding: 0px; margin: 0px;
      @media #{$breakpoints-down-sm} {
        width: 100%;
      }
      a { padding: 30px 0px 70px 0px; margin: 0px; width: 100%;
          line-height: 12pt; text-transform: uppercase; font-size: 12pt; font-weight: 700;
          @media #{$breakpoints-down-md} {
            font-size: 1em;
          }
          @media screen and (max-width: 991px){
            font-size: 0.75em;
            padding: 15px 0px 50px 0px;
          }
          @media #{$breakpoints-down-sm} {
            text-align: left; text-indent: 15px; font-size: 1.25em; padding: 15px 0px 15px 0px;
          }
      }
      @media #{$breakpoints-up-md} {
          &:AFTER { content: ''; position: absolute; top: 80%; left: 50%; margin-left: -4px; width: 0; height: 0; border-style: solid;
                  border-width: 8px 5px 0 5px; border-color: transparent transparent transparent transparent;
          }
        }
      @media #{$breakpoints-up-lg} {
        &:AFTER { border-width: 17.3px 10px 0 10px; margin-left: -8px; top: 70%; }
      }
      &.active { background-color: #fff; }
      &:hover, &.active { 
        &:AFTER { border-color: $background_black transparent transparent transparent; }
        a { color: #000; }
      }
      
      &:last-child { background-color: $background_black;
        &:hover { &:AFTER { border-color: #fff transparent transparent transparent; } }
        a { color: #fff; font-weight: light; }
        &:hover {
          a { font-weight: bold; }
        }
        &.active { background-color: #fff;
          a { color: #000; }
          &:AFTER { border-color: #000 transparent transparent transparent; }
        }
      }
      
      &:first-child {
        &:hover { &:AFTER { border-color: transparent transparent transparent transparent; } }
      }
      
    }
    .link.hidden-xs { width: 15%; margin-left: 5%;
    @media #{$breakpoints-up-xl} {
        width: 10%; margin-left: 5%; margin-right: 5%;
      }
      a { padding: 0px;
        img { width: 100% }
      }
    }
  }

  // footer styles
  .footer_wrapper { background-color: $background_black; color: #fff; padding-top: 40px; padding-bottom: 40px; text-transform: uppercase;
                    font-family: $basic_family; font-weight: 700;
    ul { list-style: none; color: #fff;
      li { margin-top: 25px;
        a { @extend .anchor_reset;  color: #fff; }
      }
    }
    .social-wrapper {
      .string { margin-top: 15px;
        a { color: #fff; }
      }
    }
    .rounded { @include border-radius( 30px ); background-color: #fff; color: $text_black; text-align: center;
      i { line-height: 32.5px; }
    }
    @media #{ $breakpoints-down-sm } {
      .footer-column { border-bottom: solid 1px rgba( 0, 0, 0, 0.25 ); padding-top: 20px; padding-bottom: 20px; text-align: center!important;
        ul, li { padding-left: 0px; }
      }
      .rounded { margin: 0 auto; }
    }
  }


  @import '../../home-central-section/home-central-section';
  @import '../../how-it-works/how-it-works';
  @import '../../angular-book-bindings/book-bindings';
  @import '../../angular-configurator/angular-configurator';
  
